.images-container {
    position: relative;
}

.product-image-big {
    object-fit: contain;
    cursor: pointer;
    height: auto;
    max-height: 500px;
    min-height: 100px;
}

.product-image-small {
    width: 110px;
    height: 110px;
    min-width: 110px;
    min-height: 110px;
    margin-right: 10px;
    cursor: pointer;
}

.product-image-small:hover {
    scale: 1.02;
    transition: all 0.1s;
}

.fullscreen-icon {
    position: absolute;
    right: 0;
    font-size: 42px;
    color: var(--white);
    filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
    transition: all 0.1s;
}

.fullscreen-icon:hover {
    font-size: 50px;
    transition: all 0.1s;
}

.small-images-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
}

.fullsceen-left-arrow {
    left: -100px;
}

.fullsceen-right-arrow {
    right: -100px;
}

.fullsceen-left-arrow, .fullsceen-right-arrow {
    position: absolute;
    font-size: 110px;
    color: var(--white);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.fullsceen-left-arrow:hover, .fullsceen-right-arrow:hover {
    color: var(--arrow);
}

@media (max-width: 991px) {
    .product-image-small {
        width: 95px;
        height: 95px;
    }
}

@media (max-width: 767px) {
    .product-image-small {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 575px) {
    .fullsceen-left-arrow, .fullsceen-right-arrow {
        font-size: 80px;
    }
    .fullsceen-left-arrow {
        left: -20px;
    }
    .fullsceen-right-arrow {
        right: -20px;
    }
}
