.product-container {
    display: flex;
    margin-bottom: 150px;
}

.product-container>div:first-child {
    margin-right: 40px;
}

.product-container>div {
    width: 50%;
}

.product-info-container>div {
    margin: 20px 0;
}

.product-info-container>div:first-child {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-info-container>div:last-child {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .product-container>div:first-child {
        width: 100%;
        margin-right: 0;
    }
    .product-container>div:nth-child(2) {
        width: 100%;
        margin-top: 20px;
    }
    .product-container>div:nth-child(2)>div {
        margin-bottom: 20px;
    }
    .product-container {
        flex-wrap: wrap;
    }
}
