.product-table-header>th {
    background-color: var(--secondary-background);
}

.product-table-name {
    font-weight: bold;
    min-width: 140px;
    max-width: 475px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: anywhere;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-table-id {
    color: var(--primary);
    font-size: 16px;
    letter-spacing: 0.56px;
    width: max-content;
    font-weight: normal;
}

.wishlist-table-button:disabled {
    width: 105px;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0.49px;
}

.bid-table-bidder {
    font-weight: bold;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: anywhere;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-table-header>th.sortable-th {
    cursor: pointer;
    position: relative;
    padding-right: 26px;
}

.product-table-header>th.sortable-th:hover {
    background-color: var(--white-smoke);
}

.sort-icon {
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
    font-size: 16px;
    opacity: 0.5;
}

.active-sort-icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: var(--primary);
}

.product-table-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-remove-btn {
    font-size: 30px;
    color: var(--alert);
    cursor: pointer;
    margin: 0 20px;
}

.alert-product-name {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.63px;
    margin-top: 20px;
}

.bid-table-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
