.landing-page-top-container {
    background: var(--secondary-background);
    min-height: 563px;
    margin-left: -14.3%;
    margin-right: -14.3%;
    padding-left: 14.3%;
    padding-right: 14.3%;
    display: flex;
    margin-top: -40px;
}

.list-group-categories {
    box-shadow: 3px 3px 0 0 var(--black-a);
    border-radius: 0;
    width: 25%;
    text-align: left;
    height: max-content;
    max-height: 99%;
    overflow-y: auto;
}

.list-group-categories>.list-group-item {
    color: var(--text-primary);
    background-color: var(--primary-background);
    border-color: var(--lighter-silver);
    border-left: none;
    border-right: none;
    border-top: none;
    height: 51px;
}

.featured-product-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin: auto 0;
    width: 100%;
    padding-left: 5%;
}

.featured-product-container-inner {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    max-width: 22vw;
    margin: 2vw 20px;
}

.featured-product-price {
    font-size: 24px;
    color: var(--primary);
    letter-spacing: 0.84px;
}

.featured-product-description {
    line-height: 22px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.featured-product-image {
    width: 35vw;
    max-height: 22vw;
    object-fit: contain;
    align-self: center;
}

.featured-container {
    margin-top: 3%;
    text-align: left;
}

.featured-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.tabs-container {
    display: flex;
}

.custom-tab {
    font-size: 28px;
    cursor: pointer;
    letter-spacing: 0.98px;
    width: 180px;
    margin-bottom: -14px;
    margin-right: 30px;
    position: relative;
    padding-bottom: 8px;
}

@media (max-width: 1199px) {
    .featured-product-container {
        flex-direction: column;
    }
    .featured-product-container-inner {
        margin-bottom: 10px;
    }
    .list-group-categories {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .featured-product-container-inner {
        max-width: 100%;
    }
    .landing-page-top-container {
        flex-wrap: wrap;
    }
    .featured-product-container {
        padding-left: 0;
    }
    .featured-product-image {
        width: 100%;
        max-height: 82%;
    }
    .list-group-categories {
        width: 100%;
    }
}
