.top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nero);
    height: 40px;
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.49px;
    padding-right: 11.1%;
    padding-left: 11.1%;
}

.bottom-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.56px;
    padding-right: 11.1%;
    padding-left: 11.1%;
    min-height: 80px;
    flex-wrap: wrap;
}

.bottom-header-brand {
    align-items: center;
    font-size: 24px;
    letter-spacing: 0.84px;
    font-weight: lighter;
    color: var(--primary);
}

.bottom-header-brand:hover {
    color: var(--primary);
}

.bottom-header-search {
    min-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.bottom-header-search-icon {
    position: absolute;
    right: 8px;
    font-size: 36px;
    top: 9px;
    cursor: pointer;
}

.account-list {
    position: absolute;
    z-index: 2;
    width: 172px;
    right: 0;
    top: 80px;
}

.account-list>.list-group-item {
    font-size: 16px;
    letter-spacing: 0.56px;
    color: var(--text-secondary);
    cursor: pointer;
}

.account-list>.list-group-item:hover {
    color: var(--primary);
}

.account-list>.list-group-item:hover {
    background-color: var(--white);
}

@media (max-width: 575px) {
    .top-header-nav-links .nav-link {
        padding: 0.25rem 0.5rem;
    }
    .bottom-header-container {
        flex-direction: column;
    }
    .bottom-header-brand {
        padding-top: 10px;
    }
    .bottom-header-search {
        width: 90%;
    }
    .account-list {
        display: none;
    }
}
