.login-container {
    border: 1px solid var(--light-silver);
    max-width: 700px;
    margin: 0 auto;
}

.login-form {
    padding: 6.5%;
}

.login-form>* {
    margin-bottom: 30px;
}

.login-title {
    background: var(--secondary-background);
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.84px;
    padding: 1.5% 0;
}

.btn-fb-button, .btn-google-button {
    width: 46%;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    letter-spacing: 0.56px;
    color: var(--white);
}

.btn-fb-button:hover, .btn-google-button:hover {
    color: var(--white);
}

.btn-fb-button {
    background: var(--facebook-blue);
    border: 3px solid var(--dark-facebook-blue);
    min-height: 57px;
}

.btn-google-button {
    background: var(--google-red);
    border: 3px solid var(--google-red);
    min-height: 57px;
}
