.profile-tab-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--secondary-background);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.7px;
    height: 50px;
    padding: 10px 40px;
}

.profile-tab-content {
    display: flex;
    padding: 40px 12vw 40px 40px;
    flex-wrap: wrap;
}

.profile-tab-picture {
    padding-right: 40px;
    width: 25%;
}

.profile-img {
    width: 100%;
    max-height: 20vw;
}

.profile-tab-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.profile-buttons {
    display: flex;
    justify-content: flex-end;
}

.seller-tab-buttons {
    display: flex;
    position: relative;
}

.seller-tab-middle-button {
    width: 120px;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

@media (max-width: 767px) {
    .profile-tab-picture {
        width: 35%;
    }
    .profile-tab-form {
        width: 65%;
    }
    .seller-tab-buttons {
        flex-direction: column;
    }
    .seller-tab-middle-button {
        border-right: 1px solid var(--light-silver);
        border-left: 1px solid var(--light-silver);
    }
}

@media (max-width: 575px) {
    .profile-tab-picture {
        width: 100%;
        padding-right: 0;
    }
    .profile-img {
        max-height: 80vw;
    }
    .profile-tab-form {
        width: 100%;
    }
}
