.purple-theme {
  --primary-background: #FFF;
  --secondary-background: #FAFAFA;
  --primary: #8367D8;
  --dark-primary: #573BAC;
  --primary-a: rgba(131, 103, 216, 0.31);
  --text-primary: #252525;
  --text-secondary: #9B9B9B;
  --white-smoke: #F0F0F0;
  --almost-white: #FCFCFC;
  --lighter-gray: #979797;
  --light-gray: #919191;
  --dark-gray: #3B3B3B;
  --light-silver: #D8D8D8;
  --lighter-silver: #ECECEC;
  --lighter-silver-blue: #E4E5EC;
  --warning: #AB944E;
  --warning-background: #F6F2E5;
  --success: #417505;
  --success-background: #F0F3EE;
  --facebook-blue: #475993;
  --dark-facebook-blue: #415994;
  --google-red: #CD5542;
  --strong-green: #6CC047;
  --pale-purple: #C4BFD6;
  --white: #FFF;
  --black-a: rgba(0, 0, 0, 0.11);
  --nero: #252525;
}

.dark-theme {
  --primary-background: #121212;
  --secondary-background: #1b1b1b;
  --primary: #8367D8;
  --dark-primary: #573BAC;
  --primary-a: rgba(131, 103, 216, 0.31);
  --text-primary: #dadada;
  --text-secondary: #646464;
  --white-smoke: #202020;
  --almost-white: #FCFCFC;
  --lighter-gray: #111111;
  --light-gray: #919191;
  --dark-gray: #3B3B3B;
  --light-silver: #D8D8D8;
  --lighter-silver: #535353;
  --lighter-silver-blue: #E4E5EC;
  --warning: #AB944E;
  --warning-background: #F6F2E5;
  --success: #417505;
  --success-background: #F0F3EE;
  --facebook-blue: #475993;
  --dark-facebook-blue: #415994;
  --google-red: #CD5542;
  --strong-green: #6CC047;
  --pale-purple: #C4BFD6;
  --white: #FFF;
  --black-a: rgba(0, 0, 0, 0.11);
  --nero: #0e0e0e;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
