.page-not-found-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.page-not-found-container>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.page-not-found-404 {
    font-size: 15.6vw;
    color: var(--primary);
    letter-spacing: 10.5px;
    text-shadow: 0.4vw 0.5vw 0 var(--light-silver);
    line-height: normal;
}

.page-not-found-title {
    font-size: 36px;
    letter-spacing: 1.26px;
    margin-bottom: 40px;
}

@media (max-width: 575px) {
    .page-not-found-title {
        font-size: 24px;
    }
}
